
body {
    font-family: 'Roboto', Helvetica, sans-serif;
    background-color:#151b29 ;
    color: white;
}

#text {
    display: block;
}

.container {
    text-align: center;
}



.btn {
    margin-top: 6em;
    background: none;
    color: #ffa260;
    border: 2px solid #ffa260;
    border-radius: 2em;
    padding: 1em 2em;
    font-size: 1em;
    transition: color 0.25s, border-color 0.25s, box-shadow 0.25s, transform 0.25s;
}

.btn:hover {
    border-color: #f1ff5c;
    color: #f1ff5c;
    box-shadow: 0 0.5em 0.5em -.04em #f1ff5c;
    transform: translateY(-0.25em);
    cursor: pointer;
}

